@model Infrastructure.Models.SignInModel

@{
    ViewData["Title"] = "Sign In";
}

<section class="signin">
    <div class="container">
        <form method="post" asp-controller="Account" asp-action="SignIn">
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Account" asp-action="SignUp">Sign up here</a></p>
            <div class="content">
                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email"></span>
                    <input asp-for="Email" />
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password"></span>
                    <input asp-for="Password" />
                </div>
                <div id="form-remember" class="checkbox">
                    <div class="checkbox-group">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe">Remember me</label>
                    </div>
                </div>

                <button id="form-submit" class="btn-theme-s" type="submit">Sign in</button>

                <a id="form-forgot-password" asp-controller="Account" asp-action="Forgot">Forgot your password?</a>
            </div>
        </form>
   </div>
</section>



@* 
Det här är en inloggningssida för en webbplats. Sidan har en rubrik som välkomnar 
tillbaka användare och en länk för de som inte har ett konto att registrera sig. 
Om det finns några fel med inloggningsförsöket, som fel lösenord eller e-postadress, 
visas felmeddelanden.

Användaren ombeds att fylla i sin e-postadress och lösenord. Det finns även en 
kryssruta för att komma ihåg användaren, så de inte behöver logga in varje 
gång de besöker sidan. Efter att uppgifterna fyllts i kan användaren trycka på 
"Sign in"-knappen för att logga in. Om användaren har glömt sitt lösenord finns 
en länk för att återställa det.
 *@
